@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

:root {
  --font-base: 'Montserrat', sans-serif;
  --font-block: 'Julius Sans One', sans-serif;
  --font-logo: 'Megrim', cursive;

  --black: #101010;
  --green: #72E485;
  --yellow: #F9D658;
  --light-gray: #F8F8F8;
  --dark-gray: #777777;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);
}

// .App {
//   background-color: var(--color-black);
// }

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 600;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Details Card

.detail__card {
  width: 15rem;
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: 17px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  transition: 0.5s;

  &:hover {
    background-color: var(--green);
  }
  img {
    width: 4rem;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  p {
    color: var(--dark-gray);
    font-weight: 600;
  }
}

// NAVBAR

.app__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2000;
  width: 100%;
  color: white;
  padding: 1rem 5%;

  .app__navbar-logo {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;

    h1 {
      font-family: var(--font-logo);
    }
  }

  .app__navbar-links {
    display: flex;
    gap: 2.5rem;
    list-style: none;

    :hover {
      color: var(--dark-gray);
    }
  }

  .app__navbar-auth {
    display: flex;
    gap: 1rem;
    button {
      background-color: var(--green);
      color: var(--black);
      padding: .7rem 1.1rem;
      border: none;
      border-radius: 10px;
    }
  }

  .app__navbar-smallscreen{
    display: none;
    @media screen and (max-width: 1000px) {
        display: block;
    }

    .app__navbar-smallscreen_overlay{
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        height: 50vh;
        background: var(--color-black);
        transition: 0.5s ease;
        flex-direction: column;
        z-index: 5;
    
    }
    
    .overlay__open{
        color: var(--color-white);
        font-size: 27px;
        cursor: pointer;
    
    }
    
    .app__navbar-smallscreen-links{
        list-style: none;
    }
    
    .app__navbar-smallscreen-links li{
        margin: .5rem;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        font-family: var(--font-base);
    }
    
    .app__navbar-smallscreen-links li:hover{
        color: var(--color-white);
    }

    .overlay_socials{
        margin-top: 1rem;
    }
}
}


// Footer

.app__footer {
  display: flex;
  background-color: var(--black);
  color: var(--light-gray);
  justify-content: space-between;

  .left {
    .logo {
      h1 {
        font-family: var(--font-logo);
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
    .links {
      display: flex;
      gap: .5rem;
      align-items: center;
    }
  }

  .right {
    display: flex;
    gap: 1.2rem;
    font-size: .8rem;
  }
}


// Home
.home {
  .app__hero {
    background-image: url(../src/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 5rem 5% 2rem;
    gap: 2rem;

    .hero__part {
      flex: 50%;
    }
    .hero__left {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1 {
        font-size: 4rem;
        font-family: var(--font-block);
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        cursor: url("chrome-extension://jlgkpaicikihijadgifklkbpdajbkhjo/image/cursors/001@3.png"), default;
        box-sizing: border-box;
        opacity: 1;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      }
      .hero__store {
        display: flex;
        gap: 1rem;
        .store_icon {
          width: 10rem;
          height: 3rem;
        }
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 1rem;
        p {
          letter-spacing: .7px;
          span {
            color: var(--green);
          }
        }
        .stars {
          width: 6rem;
        }
      }
    }

    .hero__right {
      display: flex;
      justify-content: center;
      position: relative;
      .phone {
        width: 16rem;
      }

      .amazon {
        width: 13rem;
        position: absolute;
        left: 10%;
        bottom: 40%;
      }

      .mcd {
        width: 13rem;
        position: absolute;
        right: 20%;
        bottom: 15%;
      }
    }
  }
}

// Transactions

.app__transactions {
  background-image: url('./assets/bg2.jpg');
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .section__subtitle {
    max-width: 40rem;
    text-align: center;
  }

  .transaction__cards {
    display: flex;
    gap: 2rem;
  }
} 

// Interets 
.app__interest {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  .half {
    flex: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: .5rem 1rem;
      width: fit-content;
      background-color: var(--green);
      color: var(--black);
      border: none;
      border-radius: 10px;
      font-size: 1rem;
    }
  }
}


// Advert

.app__advert {
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  .box {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .hero__store {
    display: flex;
    gap: 1rem;
    .store_icon {
      width: 10rem;
      height: 3rem;
    }
  }
}

// Sign Up and Register



.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
  h1 {
      font-size: 20px;
      color: var(--green);
      margin-bottom: 20px;
  }
  form {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background: rgba(219, 219, 219, 0.1);
      border-radius: 17px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(2.8px);
      -webkit-backdrop-filter: blur(2.8px);
      width: 20rem;
      gap: 20px;
      input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
      }
      button {
          padding: 10px;
          border: none;
          background-color: var(--green);
          cursor: pointer;
          color: var(--black);
      }
      p {
          font-size: 12px;
          color: red;
          text-align: center;
      }
      span {
          font-size: 12px;
          text-align: center;
          color: var(--light-gray);
      }
  }
}


.view__transactions {
  padding-top: 5rem;
  background-color: var(--black);
  color: var(--light-gray);

  .chart {
    padding-bottom: 2rem;
  }

  .expenses {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;

    .one {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .text {
        p {
          font-size: .5rem;
        }
      }
    }
  }

  .transactions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .expense__card {
      padding: .5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: 14px;
      box-shadow: 0 2px 7px var(--green);
      backdrop-filter: blur(2px);

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .icon {
          
        }
        .text {
          h1 {
            font-size: 1.2rem;
            font-family: var(--font-block);
          }
          p {
            font-size: .7rem;
          }
        }
      }

      .right {
        text-align: right;
        h2 {
          font-size: 1.1rem;
        }
        p {
          font-size: .6rem;
        }
      }
    }
  }
}

// Send 

.app__send {
  background-color: var(--black);
  color: white;
  padding-top: 5rem;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  button {
    background-color: var(--green);
    border: none;
  }

  .amount_input {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr);
    input[type=text]{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
    }

    button {
      padding: .5rem 1rem;
    }
  }

  .number_tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    button {
      padding: 1.5rem 1.7rem;
      border: 1px solid var(--black);
      background-color: var(--light-gray);
    }
  }

  .send_button {
    padding: .5rem 1rem;
  }
}

// Receive
.app__receive {
  background-color: var(--black);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: none;

    button {
      width: 5rem;
      background-color: var(--green);
      border: none;
      padding: .5rem 1rem;
      cursor: pointer;
    }
    
  }

  .boxes {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    input[type=number] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
    }

    textarea {
      height: 10em;
      width: 30em;
    }

  }
}


// Upadte Account Page

.app__update {
  background-color: var(--black);
  padding-top: 5rem;
  color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;

  h1 {
    font-size: 20px;
    color: var(--green);
    margin-bottom: 20px;
}
form {
  margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background: rgba(219, 219, 219, 0.1);
    border-radius: 17px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    width: 20rem;
    gap: 20px;
    input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
    }
    button {
        padding: 10px;
        border: none;
        background-color: var(--green);
        cursor: pointer;
        color: var(--black);
    }
    p {
        font-size: 12px;
        color: red;
        text-align: center;
    }
    span {
        font-size: 12px;
        text-align: center;
        color: var(--light-gray);
    }
}
}


// Delete Account

.app__delete {
  background-color: var(--black);
  padding-top: 5rem;
  min-height: 100vh;
  color: var(--light-gray);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .text {
    max-width: 40rem;
    text-align: center;

    h1 {
      margin-bottom: 2rem;
    }

    button {
      margin-top: 2rem;
      padding: 5px;
      background-color: rgb(255, 61, 61);
      border: none;
      cursor: pointer;
    }
  }
}

// User Account

.user_account {
  margin: 20px;
  padding: 20px;
  padding-top: 4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.user_account h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.account_menu {
  margin-bottom: 20px;
}

.account_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.account_menu ul li {
  display: inline-block;
  margin-right: 10px;
}

.account_menu ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #e6e6e6;
  transition: background-color 0.3s;
}

.account_menu ul li a:hover {
  background-color: #ccc;
}

.account_content {
  display: none;
}

.account-content > div {
  display: none;
  margin-top: 20px;
}

.account-content > div:first-child {
  display: block;
}

// Responsiveness

@media screen and (max-width: 1000px) {
  .app__navbar-links,
  .app__navbar-socials {
      display: none;
  }

  .app__navbar-smallscreen {
      display: block;
  }
}


